* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #e4eaff;
    color: #333;
    text-align: center;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #e4eaff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s, box-shadow 0.3s;
}

body.dark-mode header {
    background-color: #1e1e1e;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

body.dark-mode .menu-icon .bar {
    background-color: #ffffff;
}

.logo {
    display: flex;
    align-items: center;
}

.circle {
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, #4b6cb7, #182848);
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #e4eaff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s, box-shadow 0.3s;
}

body.dark-mode nav {
    background-color: #1e1e1e;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 14px;
    transition: color 0.3s;
}

body.dark-mode nav ul li a {
    color: #ffffff;
}

nav ul li a:hover {
    color: #8a23ff;
}

.hero {
    margin-top: 10%;
}

body.dark-mode .hero {
    color: #ffffff;
}

.subtitle {
    font-size: 14px;
    color: #666;
    letter-spacing: 1px;
}

body.dark-mode .subtitle {
    color: #ccc;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 10px;
}

body.dark-mode h1 {
    color: #ffffff;
}

.highlight {
    color: #8a23ff;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}

body.dark-mode h2 {
    color: #ffffff;
}

.typing-text {
    display: inline-block;
}

.cursor {
    color: #333;
    animation: blink 0.7s infinite;
}

body.dark-mode .cursor {
    color: #ffffff;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.description {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

body.dark-mode .description {
    color: #ccc;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
}

.social-links img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

body.dark-mode .social-links img {
    background: #2d2d2d;
}

.social-links img:hover {
    transform: scale(1.1);
}

.work-experience {
    margin-top: 10%;
    padding: 50px 20px;
    background-color: #f9f9ff;
    text-align: center;
}

body.dark-mode .work-experience {
    background-color: #1e1e1e;
}

.work-experience h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}

body.dark-mode .work-experience h2 {
    color: #ffffff;
}

.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience {
    display: flex;
    align-items: center;
    background-color: #e4eaff;
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 200px;
}

body.dark-mode .experience {
    background-color: #2d2d2d;
    color: #ffffff;
}

.experience img {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    margin-right: 25px;
    margin-left: 5%;
}

.experience-details {
    text-align: left;
    background-color: #e4eaff;
}

body.dark-mode .experience-details {
    background-color: #2d2d2d;
    color: #ffffff;
}

.experience-details h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

body.dark-mode .experience-details h3 {
    color: #ffffff;
}

.company {
    font-size: 14px;
    color: #777;
    margin-bottom: 8px;
}

body.dark-mode .company {
    color: #ccc;
}

.education-section {
    padding: 50px 0;
    background: #e4eaff;
}

body.dark-mode .education-section {
    background-color: #1e1e1e;
}

.section-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #8a23ff;
    margin-bottom: 30px;
}

body.dark-mode .section-title {
    color: #8a23ff;
}

.education-list {
    max-width: 800px;
    margin: auto;
}

.education-item {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

body.dark-mode .education-item {
    background-color: #2d2d2d;
    color: #ffffff;
}

.degree {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

body.dark-mode .degree {
    color: #ffffff;
}

.institution {
    font-size: 15px;
    font-weight: 500;
    color: #555;
}

body.dark-mode .institution {
    color: #ccc;
}

.duration {
    font-size: 12px;
    color: #777;
}

body.dark-mode .duration {
    color: #ccc;
}

.description {
    font-size: 14px;
    color: #444;
    margin-top: 10px;
}

body.dark-mode .description {
    color: #ccc;
}

.projects-section {
    padding: 50px 0;
    background-color: #f8f9fa;
    text-align: center;
}

body.dark-mode .projects-section {
    background-color: #1e1e1e;
}

.projects-section .section-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

body.dark-mode .projects-section .section-title {
    color: #ffffff;
}

.projects-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    justify-content: center;
}

.project-card {
    background: #fff;
    padding: 50px;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    max-width: 350px;
    text-align: left;
    transition: transform 0.3s ease-in-out;
    margin: 1.5%;
}

body.dark-mode .project-card {
    background-color: #2d2d2d;
    color: #ffffff;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-title {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

body.dark-mode .project-title {
    color: #ffffff;
}

.project-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

body.dark-mode .project-description {
    color: #ccc;
}

.project-link {
    display: inline-block;
    padding: 8px 15px;
    background-color: #e4eaff;
    color: #333;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
}

body.dark-mode .project-link {
    background-color: #8a23ff;
    color: #ffffff;
}

.project-link:hover {
    background-color: #b6c6ff;
}

body.dark-mode .project-link:hover {
    background-color: #7b93ea;
}

.skills-section {
    text-align: center;
    padding: 70px;
    background-color: #e4eaff;
}

body.dark-mode .skills-section {
    background-color: #1e1e1e;
}

.skills-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

body.dark-mode .skills-section h2 {
    color: #ffffff;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1500px;
    margin: auto;
}

.skill-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
    transition: 0.3s ease-in-out;
}

body.dark-mode .skill-card {
    background-color: #2d2d2d;
    color: #ffffff;
}

.skill-card:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.skill-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

body.dark-mode .skill-card h3 {
    color: #ffffff;
}

.skill-card ul {
    list-style: none;
    padding: 0;
}

.skill-card li {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
}

body.dark-mode .skill-card li {
    color: #ccc;
}

#contact {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

body.dark-mode #contact {
    background-color: #1e1e1e;
}

#contact h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

body.dark-mode #contact h2 {
    color: #ffffff;
}

#contact p {
    color: #555;
    margin-bottom: 30px;
}

body.dark-mode #contact p {
    color: #ccc;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 800px;
    margin: auto;
}

.contact-info {
    text-align: left;
}

.contact-info p {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
}

body.dark-mode .contact-info p {
    color: #ffffff;
}

.contact-info i {
    color: #7b93ea;
    margin-right: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

body.dark-mode .contact-form input,
body.dark-mode .contact-form textarea {
    background-color: #2d2d2d;
    color: #ffffff;
    border: 1px solid #444;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #888;
}

body.dark-mode .contact-form input::placeholder,
body.dark-mode .contact-form textarea::placeholder {
    color: #ccc;
}

.contact-form button {
    background-color: #e4eaff;
    color: #000000;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

body.dark-mode .contact-form button {
    background-color: #8a23ff;
    color: #ffffff;
}

.contact-form button:hover {
    background-color: #7b93ea;
    color: #fff;
}

/* Dark Mode Toggle Button */
.dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    z-index: 1001;
}

body.dark-mode .dark-mode-toggle {
    color: #ffffff;
}

/* Media Queries for Responsiveness */

@media (max-width: 768px) {
    header {
        margin-left: 0;
        padding: 15px 20px;
    }

    nav ul li {
        margin: 0 10px;
    }

    .hero {
        margin-top: 20%;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    .experience {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 20px;
    }

    .experience img {
        margin: 0 0 15px 0;
    }

    .projects-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-card {
        min-width: 250px;
        max-width: 100%;
        margin: 10px;
    }

    .skills-container {
        gap: 20px;
    }

    .skill-card {
        width: 100%;
        max-width: 300px;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-form {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hero {
        margin-top: 30%;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    .experience {
        padding: 15px;
    }

    .project-card {
        padding: 30px;
    }

    .skills-section {
        padding: 50px 20px;
    }

    .skill-card {
        width: 100%;
        max-width: 250px;
    }

    .contact-info {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .menu-icon {
        display: flex;
        /* Show menu icon on small screens */
    }

    nav {
        position: absolute;
        top: 60px;
        /* Adjust based on header height */
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #e4eaff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        display: none;
        /* Hide nav by default on small screens */
    }

    nav.active {
        display: block;
        /* Show nav when active */
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

